{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}   
   <!-- Call to Action -->
    <section class="py-5 bg-light">
        <div class="container text-center">
            <h2 class="fw-bold mb-4">Ready to Find Your Dream Home?</h2>
            <p class="lead mb-5">Our expert agents are ready to help you with every step of the process</p>
            <button class="btn btn-highlight btn-lg px-5">Get Started</button>
        </div>
    </section>
{%endblock%}